<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.bullbuy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PostItem"
            android:label="@string/title_activity_post_item"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Home" />
        </activity>
        <activity
            android:name=".Watch"
            android:label="@string/title_activity_watch"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Home" />
        </activity>
        <activity
            android:name=".USFLocations"
            android:label="@string/title_activity_usflocations"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Home" />
        </activity>
        <activity
            android:name=".MyItems"
            android:label="@string/title_activity_my_items"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Home" />
        </activity>
        <activity
            android:name=".Messenger"
            android:label="@string/title_activity_messenger"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Home" />
        </activity>
        <activity
            android:name=".ViewMyItem"
            android:label="@string/title_activity_view_my_item"
            android:parentActivityName=".MyItems" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.MyItems" />
        </activity>
        <activity
            android:name=".ViewItem"
            android:label="@string/title_activity_view_item"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Home" />
        </activity>
        <activity
            android:name=".ViewWatchItem"
            android:label="@string/title_activity_view_watch_item"
            android:parentActivityName=".Watch" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.bullbuy.Watch" />
        </activity>
    </application>

</manifest>
